# Klipper Setup
 
# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
variable_load_length: 90.0
# Hide the Octoprint LCD menu since I don't use it.
#variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
variable_menu_temperature: [
  {'name' : 'PLA',  'extruder' : 210.0, 'bed' : 60.0},
  {'name' : 'PLA+', 'extruder' : 205.0, 'bed' : 60.0},
  {'name' : 'PLA Pro', 'extruder' : 200.0, 'bed' : 60.0},
  {'name' : 'PETG',  'extruder' : 220.0, 'bed' : 80.0},
  {'name' : 'Tram',  'extruder' : 170.0, 'bed' : 60.0}]
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 30 # This value works for most setups.
# Length of filament (in millimeters) to prime before drawing purge lines.
variable_start_purge_prime_length: 6.0
# Minimum printable XY coordinate. Defaults to X and Y position_min.
variable_print_min: (6,6) # example: (0, 0)
# Maximum printable XY coordinate. Defaults to X and Y position_max.
variable_print_max: (248,235) # example: (220, 220)
# Scaling factor for M900 command (negative values make M900 a no-op).
variable_pressure_advance_scale: 1.0
# Additional padding around the specified print area for a bed mesh.
variable_probe_mesh_padding : 5.0

gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include macros/klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
[include macros/klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
[include macros/klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/printer_data/gcodes # UPDATE THIS FOR YOUR PATH!!!
on_error_gcode: CANCEL_PRINT

[display_status]
 
